* {
  margin: 0;
  padding: 0;
}

:root {
  --padding: 15px;
  --btn-hover-bg-clr: white;

  --start-main-clr: #d91438;
  --start-secondary-clr: #ff3056;

  --middle-main-clr: #0482d1;
  --middle-secondary-clr: #1fa9ff;

  --end-main-clr: #e8d200;
  --end-secondary-clr: #ffe819;
}

html,
body {
  height: 100%;
  overflow: hidden;
  text-transform: uppercase;
}

.container {
  height: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  font-family: "Vollkorn", serif;
}
.content-container {
  height: 55vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

/* h1...................  */

h1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.rps-r-pink {
  color: var(--start-main-clr);
}

.rps-p-blue {
  color: var(--middle-secondary-clr);
}

.rps-s-yellow {
  color: var(--end-main-clr);
}

.-rps-padding {
  padding: 0 5px;
}

/* p......................   */

p {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

/* buttons .....................  */

button {
  width: 75%;
  height: 3em;
  border: none;
  color: white;
  font-size: 1.33em;
  border-radius: 5px;
  letter-spacing: 2px;
  cursor: pointer;  
  font-family: "Playfair Display", serif;
  box-shadow: 13px 24px 45px -9px rgba(0, 0, 0, 0.54);
}

button:hover {
  opacity: 0.8;
  transition: 430ms;
}

button:focus {
  outline: none;
}
/* Optional: Customize .focus-visible */

.start-container,
.middle-container,
.end-container {
  padding: var(--padding);
  box-sizing: border-box;
}

.start-container {
  background: var(--start-main-clr);
}
.rock button {
  background: var(--start-secondary-clr);
}
.rock button:hover {
  color: var(--start-secondary-clr);
  background: var(--btn-hover-bg-clr);
}

.middle-container {
  background: var(--middle-main-clr);
}
.paper button {
  background: var(--middle-secondary-clr);
}
.paper button:hover {
  color: var(--middle-secondary-clr);
  background: var(--btn-hover-bg-clr);
}

.end-container {
  background: var(--end-main-clr);
}
.scissor button {
  background: var(--end-secondary-clr);
}
.scissor button:hover {
  color: var(--end-secondary-clr);
  background: var(--btn-hover-bg-clr);
}

/* ..js  */
.playerTextColor {
  color: green; 
}

.robotTextColor {
  color: #2E2E2E; 
}

@media (max-width: 920px) {
  h1,
  p {
    font-size: 1.7rem;
  }
}
@media (max-width: 785px) {
  h1,
  p {
    font-size: 1.5rem;
  }
}

@media (max-width: 720px) {
  h1,
  p {
    font-size: 1.2rem;
  }

  button {
    width: 90%;
  }
}

@media (max-width: 590px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  h1,
  p {
    font-size: 1.6rem;
  }

  button {
    width: 70%;
    margin-top: 10px;
  }

  .content-container {
    height: 100%;
  }

  .start-container,
  .middle-container,
  .end-container {
    height: 33.333%;
  }
}
