body {
  background-color: #90A4AE;
}

.container {
    min-height: 600px;
    max-height: 660px;
    background-color: #fff;
    margin-top: 30px;
    border-radius: 15px;
    max-width: 700px;
    text-align: center;
    padding: 20px;
    font-family: 'Fjalla One', sans-serif;
}
.row {
    max-width: 600px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 30px;
}
.col-md-4 {
    height: 200px; 
    border: 2px solid #f2f2f2; 
    color: #fff; padding: 20px; 
    cursor: pointer;
}



.col-md-4 i{font-size: 120px;}
.rock {background-color: #6A1B9A;}
.paper {background-color: #D84315;}
.scissors {background-color: #FF9800;}

.rock:hover {background-color:#4c136f;}
.paper:hover {background-color:#d82315;}
.scissors:hover {background-color: #ff7914;}
.reverse {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
     -ms-filter: "FlipH";
}

#game {font-size: 160px; display:none;}
#win {font-size: 40px; font-family: 'VT323', sans-serif; color: #4CAF50; margin-bottom:0px; height: 30px;}
.fight {background-color:#d82315; padding: 10px; font-size: 40px; border-radius: 15px; color: #fff; margin-top:28px;}
.fight:hover {color: #fff; background-color: #333;}

.playAgain {background-color:#6A1B9A; padding: 10px; font-size: 40px; border-radius: 15px; color: #fff; display:none; margin-top:0px;}
.playAgain:hover {color: #fff; background-color: #333;}


.player {background-color:#d82315;width: 150px; color:#fff; margin-left: auto; margin-right: auto; padding: 8px; border-radius: 5px;}

@media only screen and (max-width : 992px) {
  .container {max-height: 1200px;}
}
